div{
    /* Zorgt ervoor dat de border aan de binnenkant van alle divs wordt geplaats en niet wordt opgeteld bij de breedte/hoogte van het element*/
    /* hierdoor voorkom je dat je als je het element een bepaalde breedte/hoogte geeft rekening moet houden met de border breedte */
    box-sizing: border-box;
    /* voorkomt dat elementen die als display waarde inline-block hebben een kleine ruimte tussen de elementen tonen */
    font-size: 0px;
}

/* Container div waar de hele mondriaan in zit */
#container{
    width: 800px;
    height: 800px;
    border: 1px solid black;
}

/* CSS class voor achtergrond die niet zichtbaar is voor het eindresultaat */
.bg-temp{
    background-color: yellow;
}

.horizontaal{
    display: inline-block;
}

/* CSS classes die de borders regelen */
.border-boven{
    border-top: 15px solid black;
}

.border-links{
    border-left: 15px solid black;
}

.border-rechts{
    border-right: 15px solid black;
}

.border-beneden{
    border-bottom: 15px solid black;
}

/* CSS Classes die de achtergrond kleur regelen */
.bg-geel{
    background-color: yellow;
}

.bg-blauw{
    background-color: cornflowerblue;
}

.bg-rood{
    background-color: red;
}

.bg-wit{
    background-color: white;
}


/* Linkerkant */
#links{
    width: 20%;
    height: 100%;
}

#links-boven{
    display: inline-block;
    width: 100%;
    height: 25%;
    background-color:yellow;
}
#links-midden{
    display: inline-block;
    width: 100%;
    height: 50%;
    background-color: white;
}
#links-beneden{
    display: inline-block;
    width: 100%;
    height: 25%;
    background-color: blue;
}

 /* Rechterkant */
#rechts{
    width: 80%;
    height: 100%;
}

/* Rechtskant eerste rij */
#rechts-rij-een{
    height: 25%;
    width: 100%;
    
}

#rechts-rij-een-links{
    display: inline-block;
        height: 100%;
        width: 60%;
        background-color: red;
    }

#rechts-rij-een-rechts{
    display: inline-block;
        height: 100%;
        width: 40%;
        background-color: blue;
    }

/* Rechtskant tweede rij */
#rechts-rij-twee{
    height: 22%;
    width: 100%;
}

    #rechts-rij-twee-links{
        display: inline-block;
        height: 100%;
        width: 75%;
        background-color: white;
    }

    #rechts-rij-twee-rechts{
        display: inline-block;
        height: 100%;
        width: 25%;
        background-color: white;
    }


/* Rechtskant derde rij */
#rechts-rij-drie{
    height: 22%;
    width: 100%;
}
    #rij-3-links{
        display: inline-block;
        height: 100%;
        width: 10%;
        background-color: blue;
    }

    #rij-3-linksmidden{
        display: inline-block;
        height: 100%;
        width: 40%;
        background-color: yellow;
    }

    #rij-3-rechtsmidden{
        display: inline-block;
        height: 100%;
        width: 25%;
        background-color: blue;
    }

    #rij-3-rechts{
        display: inline-block;
        height: 100%;
        width: 25%;
        background-color: red;
    }

/* Rechtskant vierde rij */
#rechts-rij-vier{
    height: 31%;
    width: 100%;
}

    #rij-4-links{
        display: inline-block;
        height: 100%;
        width: 50%;
        background-color: red;
    }

    #rij-4-midden{
        display: inline-block;
        height: 100%;
        width: 25%;
        background-color: white;
    }
    
    #rij-4-rechtso{
        display: inline-block;
        height: 40%;
        width: 25%;
        background-color: red;
    }
    #rij-4-rec3htsb{
       display: inline-block;
        height: 40%;
        width: 25%;
        background-color: red;
    }